<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css" />
<title>Каналы</title>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div class="header">
  <div class="headerConntent">
    <div class="headerLogo">
      <button id="switch"><img src="css/images/switch.png" alt="Переключить" /></button>
      <a href="#">SapeChat</a></div>
    <div class="headerSearch">
      <form action="search" method="get">
        <div class="search">
          <input type="search" name="query" placeholder="Введите запрос..." required maxlength="40" autocomplete="off" />
          <button><img src="css/images/search_gray.png" alt="" /></button>
        </div>
      </form>
    </div>
    <div class="headerList"><a href="#">Профиль</a><a href="#">Лента</a><a href="#">Диалоги</a><a href="#">Люди</a><a href="#">Выход</a></div>
  </div>
  <div id="hiddenArea">
    <div id="hiddenBlock" hidden="true">
      <div id="hiddenProfile"><a href=""><img src="files/user_img/8.jpg" alt="Me" id="meImg" /></a> <a href="" id="hiddenUsername">Имя Фамилия</a> <span id="hiddenEmail">username@example.com</span></div>
      <div id="hiddenList"> <a href="">
        <div><img src="css/images/group_gray.png" alt="" /></div>
        Создать конференцию</a> <a href="">
        <div><img src="css/images/setting_gray.png" alt="" /></div>
        Настройки</a><a href="">
        <div><img src="css/images/logout_gray.png" alt="" /></div>
        Выход</a> </div>
      <span id="hiddenCopy">SapeChat v1.0</span> </div>
  </div>
</div>
<div class="main height100 ">
  <div id="canals" class="inline">
    <div id="canalsList">
      <h5>Общая лента</h5>
      <a class="generalized active" href=""><img alt="" src="css/images/feed_white.png" />Моя лента</a> <a class="generalized" href=""><img alt="" src="css/images/hot_gray.png" />Популярное</a>
      <h5>Каналы друзей</h5>
      <a class="friendCanal" href=""><img alt="" src="files/user_img/1.jpg" />Имя Фамилия</a> <a class="friendCanal" href=""><img alt="" src="files/user_img/1.jpg" />Имя Фамилия</a> <a class="friendCanal" href=""><img alt="" src="files/user_img/1.jpg" />Имя Фамилия</a> <a class="friendCanal" href=""><img alt="" src="files/user_img/1.jpg" />Имя Фамилия</a> <a class="friendCanal" href=""><img alt="" src="files/user_img/1.jpg" />Имя Фамилия</a>
      <button>Показать других</button>
    </div>
  </div><div id="streamFeed" class="inline" >
    
    <form action="" method="get">
      <img alt="" src="files/user_img/8.jpg" class="userImage" /><div class="textarea" aria-multiline="true" contenteditable="true" role="textbox" data-text="Напишите что-нибудь..." ></div>
      <textarea style="display:none;" required ></textarea>
      <button class="sendButton">Отправить</button>
    </form>
    <div class="sreamPosts">
    <div class="streamElementPost">
    <a href=""><img alt="" src="files/user_img/1.jpg" class="userImagePost" /></a> <div class="elementText"><a href="" class="postUserName">Имя Фамилия</a><span class="postTime">Написанно 27.08 в 19:30</span><div class="elementContentText">Существуют две основные трактовки понятия «текст»: имманентная (расширенная, философски нагруженная) и репрезентативная (более частная). Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.</div></div>
    </div>
    <div class="streamElementPost">
    <a href=""><img alt="" src="files/user_img/2.jpg" class="userImagePost" /></a> <div class="elementText"><a href="" class="postUserName">Имя Фамилия</a><span class="postTime">Написанно 27.08 в 19:30</span><div class="elementContentText">В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное»</div></div>
    </div>
    <div class="streamElementPost">
    <a href=""><img alt="" src="files/user_img/5.jpg" class="userImagePost" /></a> <div class="elementText"><a href="" class="postUserName">Имя Фамилия</a><span class="postTime">Написанно 27.08 в 19:30</span><div class="elementContentText">Знаковые системы входят в состав измерительных шкал и обеспечивают символьное (формальное) представление объектов (событий), их свойств (характеристик) и взаимосвязей.</div></div>
    </div>
    <div class="streamElementPost">
    <a href=""><img alt="" src="files/user_img/4.jpg" class="userImagePost" /></a> <div class="elementText"><a href="" class="postUserName">Имя Фамилия</a><span class="postTime">Написанно 27.08 в 19:30</span><div class="elementContentText">Понятие знаковой системы близко понятию языка: иногда они используются взаимозаменяемо, однако понятие языка несёт коннотации, связанные с естественными человеческими языками, и обычно является менее общим. Другим примером знаковой системы является метаязык — язык для описания языков.</div></div>
    </div>
    </div>
  </div>
</div>
</body>
</html>