<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css" />
<title>Вход в систему</title>
</head>
<body>
<script type="text/javascript" src="js/main.js"></script>
<div class="header">
  <div class="headerConntent">
    <div class="headerLogo">
      <button id="switch"><img src="css/images/switch.png" alt="Переключить" /></button>
      <a href="#">SapeChat</a></div>
    <div class="headerList"><a href="#">Регистрация</a></div>
  </div><div id="hiddenArea">
  <div id="hiddenBlock" hidden="true">
    <p id="hiddenAlert">Необходимо осуществить вход!</p>
    <span id="hiddenCopy">SapeChat v1.0</span> </div>
    </div>
</div>
<div class="main">
  
  <div id="loginBlock">
    <h1>Вход</h1>
    <p>Чтобы войти в ваш аккаунт, вам необходимо ввести логин и пароль! </p>
    <form action="" method="post">
      <label>E-mail</label>
      <input type="email" placeholder="Ваш email" required  autocomplete="off"/>
      <label>Пароль</label>
      <input type="password" placeholder="Ваш пароль" required autocomplete="off" />
      <a href="" id="remembePswd">Забыли пароль?</a>
      <button>Войти</button>
    </form>
  </div>
</div>
</body>
</html>