<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css" />
<title>Вход в систему</title>
</head>
<body>
<script type="text/javascript" src="js/main.js"></script>
<div class="header">
  <div class="headerConntent">
    <div class="headerLogo"><button id="switch"><img src="css/images/switch.png" alt="Переключить" /></button><a href="#">SapeChat</a></div>
    <div class="headerSearch">
      <form action="search" method="get">
        <div class="search">
          <input type="search" name="query" placeholder="Введите запрос..." required autocomplete="off" />
        </div>
      </form>
    </div>
    <div class="headerList"><a href="#">Профиль</a><a href="#">Лента</a><a href="#">Диалоги</a><a href="#">Люди</a><a href="#">Выход</a></div>
  </div><div id="hiddenArea">
    <div id="hiddenBlock" hidden="true">
      <div id="hiddenProfile"><a href=""><img src="files/user_img/8.jpg" alt="Me" id="meImg" /></a> <a href="" id="hiddenUsername">Имя Фамилия</a> <span id="hiddenEmail">username@example.com</span></div>
      <div id="hiddenList"> <a href="">
        <div><img src="css/images/group_gray.png" alt="" /></div>
        Создать конференцию</a> <a href="">
        <div><img src="css/images/setting_gray.png" alt="" /></div>
        Настройки</a><a href="">
        <div><img src="css/images/logout_gray.png" alt="" /></div>
        Выход</a> </div>
      <span id="hiddenCopy">SapeChat v1.0</span> </div>
  </div>
</div>
<div class="main" >
  <div class="chats inline">
    <div class="chatsConntent">
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
      <div class="chatsElement"> <img src="css/files/user_img/1.jpg" alt="" class="userImg"/><a href="#" class="userName">Имя Фамилия</a>
        <p class="lastMassage">Последнее сообщение</p>
      </div>
    </div>
  </div><div class="massages inline">
    <div class="massageHeader">
      <h1><a href="#">Название диалога</a></h1>
    </div>
    <div class="massageContent">
    <div class="massageArea" id="massageConntent">
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div><div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    <div class="massage">
    <img src="css/files/user_img/2.jpg" alt="" class="massageImg"/>
    <a href="#" class="massageUsername">Имя Фамилия</a><span class="massageTime">17:59</span>
    <p class="massageText">Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
    </div>
    </div>
    </div>
    <div class="massageForm" id="msgBl" data-name="Имя Фамилия">
      <img src="css/files/user_img/3.jpg" alt=""  class="formUserImg" id="msgImg"/>
      <div class="textarea" id="msgArea" onKeyDown="chat.onTextDown(event)" onKeyUp="chat.onTextUp(event)"  aria-multiline="true" contenteditable="true" role="textbox" data-text="Введите сообщение..." ></div>
        
    </div>
  </div>
</div>
</body>
</html>