<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css" />
<title>Вход в систему</title>
</head>
<body>
<script type="text/javascript" src="js/main.js"></script>
<div class="header">
  <div class="headerConntent">
    <div class="headerLogo">
      <button id="switch"><img src="css/images/switch.png" alt="Переключить" /></button>
      <a href="#">SapeChat</a></div>
    <div class="headerList"><a href="#">Вход</a><a href="#">Регистрация</a></div>
  </div><div id="hiddenArea">
  <div id="hiddenBlock" hidden="true">
    <p id="hiddenAlert">Необходимо осуществить вход!</p>
    <span id="hiddenCopy">SapeChat v1.0</span> </div>
    </div>
</div>
<div class="main">
  <div id="remBlock">
    <h1>Восстановление доступа</h1>
    <p>Для восстановления пароля введите ваш email. Мы пришлем вам письмо со ссылкой на создание нового пароля для вашего аккаунта! </p>
    <form action="" method="post">
      <label>Введите ваш E-mail адрес</label>
      <input type="email" placeholder="Ваш email" required  autocomplete="off"/>
      <button>Отправить</button>
    </form>
  </div>
</div>
</body>
</html>