@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$main_bcolor =  #F1F4F6
$header_external_bcolor = #4E596D
$header_internal_bcolor = #5D687C
$header_hover_bcolor = #464F63
$header_border_color = #4E596D

$h_font = 'Roboto Slab', serif
$primary_font = 'Roboto', serif

html, body 
    margin: 0;
    font-family: $primary_font;
    background-color: $main_bcolor;

::-webkit-scrollbar-button 
    display:none;

::-webkit-scrollbar-track 
    background-color:#F1F4F6

::-webkit-scrollbar-thumb 
    -webkit-border-radius: 0px
    border-radius: 0px
    background-color:#ccc

::-webkit-scrollbar-thumb:hover 
    background-color:#4E596D

::-webkit-resizer 
    display:none

::-webkit-scrollbar
    width: 5px;

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration
    display: none

::-ms-clear
    display: none
    width : 0
    height: 0

::-ms-reveal 
    display: none
    width : 0
    height: 0

.active
    display:none