#loginBlock 
	width: 280px
	border-right: 1px #eee solid
	margin: 0px
	height: 100%
	box-sizing: border-box
	padding: 10px 20px
	h1 
		display: block;
		border-bottom: 1px solid #5D687C
		padding: 10px 0px 5px 0px;
		margin: 0 0 5px;
		font-family: "Roboto Slab"
		font-size: 16px;
		text-transform: uppercase
		color: #131E32
	label
		display: block
		color: #131E32
		font-weight: bold
		font-size: 14px
		padding: 5px 0
		
	input[type=password], input[type=email] 
		display: block
		width: 100%
		border: 1px #ddd solid
		color: #000
		border-radius: 3px
		padding: 0px 10px
		box-sizing: border-box
		font-size: 13px
		font-family: "Roboto"
		line-height: 35px
		height: 35px
		margin-top: 15px
		margin-bottom: 5px
	p 
		color: #111111
		font-size: 13px
		margin-top: 0px
	#remembePswd
		padding-left: 2px;
		color: #131E32;
		font-weight: bold;
		font-size: 14px;
		display: block;
		margin-top: 10px;
		width: 120px;
		float: left;
	button 
		background: #5D687C
		border: 1px solid #4E596D
		border-radius: 4px
		height: 35px
		font-size: 13px
		font-family: "Roboto"
		font-weight: bold
		cursor: pointer
		color: #fff
		width: 80px
		float: right
		outline: none
		margin-top: 10px
		&:hover
			background: #4E596D
			