#options_list
    position: absolute
    z-index: 3
    top: 40px
    right: 0px
    background: white
    border:1px solid #eee
    border-radius: 5px;
    .option_item
        font-size: 13px
        color: #171C30
        text-decoration: none
        padding: 9px 20px
        //border-bottom: 1px solid #eee
        display: block
        cursor:pointer
        &:hover
            background: #E8EBED
    .option_row
        border-bottom: 1px solid #eee
        margin: 0 10px